@*
    Descrição: Dashboard do cadastro de tabelas do sistema
    Data: 01/01/2020 - v.1.0
*@

@using Sistema.Assets.DB;
@using Sistema.Assets.Entities;
@using Functions;

@Html.Action("SubHeader", "Partials", new { app = "/Apps/Master/Tabelas", id = 0, id2 = 0 })

<div class="grid-stack">

    @* Novo registro *@
    @Html.Action("NovoRegistro", "Widgets", new { widget = new Widgets(9, 0, 3, 2, 0, 0, true, "/Apps/Master/Tabelas/Incluir"), texto = Language.XmlLang(157, 2).Text })

    @* Listagem *@
    @Html.Action("Listagem", "Widgets", new { widget = new Widgets(0, 0, 9, 8, 0, 0, false, "/Apps/Master/Tabelas/Incluir"), texto = Language.XmlLang(162, 2).Text, result = new TabelasDB().Listagem(1, 10) })

</div>

<!-- Scripts -->
@Scripts.Render("~/gridstack")
