@*
    Descrição: Rodapé
    Data: 01/01/2021 - v.1.0
*@

@using Functions;

<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
    <div class="kt-container kt-container--fluid">
        <div class="kt-footer__menu kt-hidden-tablet-and-mobile">
            <a href="#" class="kt-footer__menu-link kt-link" data-toggle="kt-tooltip" title="@Language.XmlLang(2, 2).Text" data-placement="right">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                        <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                    </g>
                </svg>
            </a>

            @* Calculadora *@
            @Html.Action("Calculator", "Partials")

            @* Pesquisa CEP *@
            @Html.Action("Cep", "Partials")

        </div>
        <div class="kt-footer__menu text-center kt-hidden-tablet-and-mobile" id="clock"></div>
        <div class="kt-footer__copyright" data-toggle="kt-tooltip" title="@Language.XmlLang(6, 2).Text www.gernet.com.br" data-placement="top">
            <a href="http://www.gernet.com.br" target="_blank" class="kt-padding-t-10-desktop">
                <img src="~/Assets/Media/logos/gernet.png" />
            </a>
        </div>
    </div>
</div>
