/* Scrollbars */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #A6D2FF;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Extras */
.kt-radius-0 {
    border-radius: unset !important;
}

.kt-radius-4 {
    border-radius: 4px;
}

.kt-padding-8 {
    padding: 8px;
}

.bg-light-blue {
    background-color: #F4F5FF;
}

.pointer {
    cursor: pointer;
}

/* Footer */
.kt-footer {
    padding: 8px 0px 6px 0px !important;
}

.kt-footer .kt-footer__menu .kt-footer__menu-link {
    margin: 0px !important;
}

.kt-footer .kt-footer__menu a:first-child {
    margin: 0 0 0 0 !important;
}

.kt-footer .kt-footer__menu a {
    height: 44px !important;
    min-width: 44px !important;
    text-align: center !important;
    line-height: 44px !important;
    border-radius: 4px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.kt-footer .kt-footer__menu a:hover {
    background-color: #ececec;
}

.kt-footer .kt-footer__menu a:hover:hover:after {
    border-bottom: unset !important;
}

/* Menu */

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    fill: #FFFFFF !important;
}

.separator-arrow {
    margin: 0 0.5rem 0 0.2rem !important;
}

/* Color picker */

.color-picker {
    padding: 10px 0px 10px 9px;
}

.color-picker span {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #ececec;
    cursor:pointer;
    margin: 0px 1px;
}

.color-picker span:hover {
    border: 1px solid #000000;
}

.gernet-widget-color {
    height: 20px;
    width: 20px;
    border: 1px solid #ececec;
}

/* Gridstack */
.grid-stack-item-content {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
}

.ui-resizable-handle {
    background-color: #ececec !important;
    border-radius: 20px;
    height: 30px !important;
    width: 30px !important;
}

/* Chat */

.chat-img {
    max-width:50px;
    max-height:50px;
    border-radius:50%;
}

.kt-padding-chat-search {
    padding: 0px 20px 20px 20px !important;
}

.kt-quick-panel .kt-quick-panel__status {
    position: absolute;
    z-index: 1;
    right: 5rem;
    top: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 4px;
    background-color: #f7f8fa;
    padding: 4px 10px;
    color: #000000 !important;
}

.kt-quick-panel #chat-list-users .kt-notification-v2__item-icon span {
    position:absolute;
    margin-top: -20px;
    margin-left: -18px;
}

/* Responsive */
@media (min-width: 1025px) {
    .kt-aside__brand {
        background-color: #A6D2FF;
    }
}

@media (max-width: 1024px) {
    .kt-header-mobile {
        background-color: #4fa3e0;
    }
}