/* Scrollbars */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #A6D2FF;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Extras */
.kt-radius-4 {
    border-radius:4px;
}

.kt-padding-8 {
    padding: 8px;
}

.bg-light-blue {
    background-color: #F4F5FF;
}

/* Footer */
.kt-footer {
    padding: 8px 0px 6px 0px !important;
}

.kt-footer .kt-footer__menu .kt-footer__menu-link {
    margin: 0px !important;
}

.kt-footer .kt-footer__menu a:first-child {
    margin: 0 0 0 0 !important;
}

.kt-footer .kt-footer__menu a {
    height: 44px !important;
    min-width: 44px !important;
    text-align: center !important;
    line-height: 44px !important;
    border-radius: 4px !important;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.kt-footer .kt-footer__menu a:hover {
    background-color: #ececec;
}

.kt-footer .kt-footer__menu a:hover:hover:after {
    border-bottom: unset !important;
}

/* Menu */

.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon svg g [fill], .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon svg g [fill] {
    fill: #FFFFFF !important;
}

.separator-arrow {
    margin: 0 0.5rem 0 0.2rem !important;
}

/* Gridstack */

.grid-stack-item-content {
    -webkit-box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
    -moz-box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
    box-shadow: 1px 1px 10px 1px rgba(204,204,204,1);
}

.ui-resizable-handle {
    background-color: #ececec !important;
    border-radius: 20px;
    height: 30px !important;
    width: 30px !important;
}

/* Responsive */
@media (min-width: 1025px) {
    .kt-aside__brand {
        background-color: #A6D2FF;
    }
}

@media (max-width: 1024px) {
    .kt-header-mobile {
        background-color: #4fa3e0;
    }
}