@*
    Descrição: Filtro de pesquisa do cadastro de aplicativos do sistema
    Data: 01/01/2021 - v.1.0
*@

@using Functions;

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
        @{
            Inputs inp = new Inputs();
            inp.inputType = "text";
            inp.label = Language.XmlLang(233, 2).Text;
            inp.className = "form-control mb-0";
            inp.id = "filter_txaplicativo";
            inp.maxLenght = 50;
            @Html.Raw(inp.CreateInput());
        }
    </div>
</div>