@*
    Descrição: Filtro de pesquisa do cadastro de aplicativos do sistema
    Data: 01/01/2021 - v.1.0
*@

@* Funções *@
@using Functions;

@* Inputs *@
@{ Inputs inp = new Inputs(); }

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        @{
            // Nome do aplicativo
            inp.inputType = "text";
            inp.label = Language.XmlLang(230, 2).Text;
            inp.className = "form-control mb-0";
            inp.id = "filter_txaplicativo";
            inp.maxLenght = 20;
            @Html.Raw(inp.CreateInput());
        }
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        @{
            // Action
            inp.inputType = "text";
            inp.label = Language.XmlLang(231, 2).Text;
            inp.className = "form-control mb-0";
            inp.id = "filter_txaction";
            inp.maxLenght = 20;
            @Html.Raw(inp.CreateInput());
        }
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        @{
            // Controller
            inp.inputType = "text";
            inp.label = Language.XmlLang(232, 2).Text;
            inp.className = "form-control mb-0";
            inp.id = "filter_txcontroller";
            inp.maxLenght = 20;
            @Html.Raw(inp.CreateInput());
        }
    </div>
</div>