@*
Descrição: Dashboard principal do sistema
Data: 01/01/2021 - v.1.0
*@

@Html.Action("SubHeader", "Partials")

@using Functions;

<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">

                        teste

                </div>
            </div>
        </div>

    </div>
</div>

