@*
    Descrição: Dashboard principal do sistema
    Data: 01/01/2020 - v.1.0
*@

@Html.Action("SubHeader", "Partials")

@using Functions;

<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        teste
                        <button type="button" class="btn btn-label-brand btn-lg btn-upper" id="kt_app_chat_launch_btn" data-toggle="modal" data-target="#kt_chat_modal">Send Message</button>
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Action("ChatMsg", "Partials")