<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Best Sellers
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>