@*
    Descrição: Cadastro de perfis de acesso ao sistema
    Data: 01/01/2021 - v.1.0
*@

@Html.Action("SubHeader", "Partials", new { app = "/Apps/Administrativo/Perfis de Acesso", id = 0, id2 = 0 })

@using Functions;

<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">

        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Perfil<br />
                    </h3>
                </div>
            </div>
        </div>

    </div>
</div>