@*
    Descrição: Página de url de aplicativo inválido
    Data: 01/01/2020 - v.1.0
*@

@Html.Action("SubHeader", "Partials", "")

@using Functions;

<div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">

        <div class="kt-margin-t-100">
            <center>
                <h1 style="font-weight: 700; font-size: 12rem; color:#4800ff;">@Language.XmlLang(77, 1).Text</h1>
                <p style="font-weight: 500; font-size: 3rem; color:#000000;">
                    @Language.XmlLang(134, 2).Text.
                </p>
                <p style="font-weight: 500; font-size: 2rem; color:#000000;">
                    @Language.XmlLang(135, 2).Text.
                </p>
            </center>
        </div>

    </div>
</div>
