@*
    Descrição: Filtro de pesquisa do cadastro de menus do sistema
    Data: 01/01/2021 - v.1.0
*@

@* Funções *@
@using Functions;

@* Inputs *@
@{ Inputs inp = new Inputs(); }

<div class="row">

    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
        @{
            // Ativo
            inp.inputType = "switch";
            inp.label = Language.XmlLang(33, 2).Text;
            inp.id = "filter_flativo";
            inp.showAll = true;
            inp.inputChecked = true;
            inp.inputCheckedAll = true;
            inp.defaultValue = "A";
            @Html.Raw(inp.CreateInput());
        }
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 col-xs-6">
        @{
            // Master
            inp.inputType = "switch";
            inp.label = Language.XmlLang(34, 2).Text;
            inp.id = "filter_flmaster";
            inp.showAll = true;
            inp.inputChecked = true;
            inp.inputCheckedAll = true;
            inp.defaultValue = "A";
            @Html.Raw(inp.CreateInput());
        }
    </div>

</div>